/*Iniciando pelo body já definindo estilos principais herdados pela página toda*/
:root{
  --cor-primaria: #ee2211; 
  --cor-primaria-escura: #900;  
  --cor-background:#f7f7f7; 
  --cor-background-2: #ffffff;
  --cor-texto: #000;
  --cor-subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url(./img/onda.svg);
}



@media (prefers-color-scheme: dark){
  :root{
    --cor-background: #111111;
    --cor-background-2: #000000;
    --cor-texto: #ffffff;
    --cor-subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url(./img/onda-escura.svg);
  }  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--cor-background);
  margin: 0px;
  display: grid; /*Defini o layout inicial com grid*/
  gap: 3.75rem; /* */
  margin-top: 3.75rem;
  justify-items: center; /*Para alinhar os items todos ao centro*/
  color: var(--cor-texto);
}

img {
  max-width: 100%; /* Definir como 100 para não crescer mais que a tela  */
  display: block;
}
a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px; /*Reset*/
}

p {
  font-size: 1.25rem; /*Todos paragrafos com 20px*/
}

.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex; /*Ao definir ele remove o espaço inicial do elemento inline, juntado todos*/
  flex-wrap: wrap; /*Caso não caiba tudo na mesma linha, quebre para a próxima*/
  gap: 1.25rem; /*Com o gap damos novamente o espaçamento necessário*/
  justify-content: center; /* Alinha os items ao centro*/
}

.menu a {
  /*Links menu*/
  display: block;
  background-color: var(--cor-background-2);
  color: var(--cor-texto);
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
  border: transparent solid 3px;
}

li a:hover {
  border-color: var(--cor-primaria);
}

.conteudo {
  display: grid; /*Usamos para dividir o conteúdo em duas colunas*/
  grid-template-columns: 1fr 1fr;
  max-width: 1000px; /*Aqui colocamos um limite no conteúdo*/
}

.intro {
  background-color: var(--cor-background-2);
  padding: 50px;
  text-align: right;
  display: grid;
  gap: 1.25rem; /*Para separar o conteúdo*/
  align-content: center; /*Alinha o conteúdo ao centro */
  justify-items: end; /*Alinha todo conteúdo a ponta*/
  position: relative; /*O absolute passa a ficar em relação a esse posicionamento*/
}

.intro h1 {
  font-size: 2rem;
}

.intro ::before {
  content: ""; /* Detalhe.. No pseudo elemento sempre precisa de um conteúdo*/
  background-color: var(--cor-primaria);
  position: absolute; /*O elemento não influencia nos outros*/
  width: 3.75rem;
  height: 4px;
  right: -30px;
  top: 30px;
}

.imagem img {
  object-fit: cover;
  height: 100%;
}

.botao {
  background-color: var(--cor-primaria);
  color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: var(--cor-primaria-escura);
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--cor-subtitulo);
  text-align: right;
  padding: 2.5rem;
  align-self: center; /*Align-self fala com um item especifico dentro do grid*/
  background-image: var(--onda);
}

.vantagens {
  background-color: var(--cor-background-2);
  padding: 2.5rem;
}

.vantagens-items {
  display: grid;
  grid-template-columns: auto 1fr; /*Auto-para pegar exatamente o tamanho do conteúdo "imagem" e 1r para distribuir o quanto sobrar*/
  gap: 10px 20px;
  padding: 1.25rem;
  border-left: 4px solid #ee231100;
}

.vantagens p {
  grid-column: 2; /*Defini em qual coluna o p deve ficar*/
}

.vantagens-items:nth-child(odd) {
  background: var(--cor-background);
}

main ul :hover {
  border-color: var(--cor-primaria);
}

.rodape {
  background-color: var(--cor-background-2);
  width: 100%; /*Para pegar de ponta a ponta*/
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box; /*para o widht não somar com o padding e estourar o layout*/
}

@media (max-width: 1000px) {
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .intro {
    text-align: left;
    justify-items: start;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .intro ::before {
    display: none;
  }
  .subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .subtitulo {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}
